Repository prgrms-fe-devcourse/pomato: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: 디자인 토큰 설정
  index.html
  src/App.tsx
  src/Text.tsx
  src/main.tsx
  src/styles/global.css
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint

chore: 기본구조 미사용 파일 제거
  src/App.css
  src/App.tsx
  src/index.css
  src/main.tsx
Due: prettier --write, eslint

chore: 폴더 기본 구조
  src/components/.gitkeep
  src/data/.gitkeep
  src/features/.gitkeep
  src/hooks/.gitkeep
  src/layout/.gitkeep
  src/pages/.gitkeep
  src/routes/.gitkeep
  src/services/.gitkeep
  src/stores/.gitkeep
  src/styles/.gitkeep
  src/tests/.gitkeep
  src/types/.gitkeep
  src/utils/.gitkeep
Due: none

chore: alias 설정 변경
  tsconfig.app.json
  vite.config.ts
Due: prettier --write

fix: alias @types 중복 변경
  tsconfig.app.json
  vite.config.ts
Due: prettier --write

chore: folder architecture (#1)
  src/App.css
  src/App.tsx
  src/components/.gitkeep
  src/data/.gitkeep
  src/features/.gitkeep
  src/hooks/.gitkeep
  src/index.css
  src/layout/.gitkeep
  src/main.tsx
  src/pages/.gitkeep
  src/routes/.gitkeep
  src/services/.gitkeep
  src/stores/.gitkeep
  src/styles/.gitkeep
  src/tests/.gitkeep
  src/types/.gitkeep
  src/utils/.gitkeep
  tsconfig.app.json
  vite.config.ts
Due: prettier --write, eslint

feat: 디자인 토큰 설정
  index.html
  src/Text.tsx
  src/main.tsx
  src/styles/global.css
Due: prettier --write, eslint

Update src/styles/global.css
  src/styles/global.css
Due: prettier --write

Update src/Text.tsx
  src/Text.tsx
Due: prettier --write, eslint

fix: label 오타 수정
  src/Text.tsx
  src/styles/global.css
Due: prettier --write, eslint

feat: 디자인 토큰 설정
  index.html
  src/App.tsx
  src/Text.tsx
  src/styles/global.css
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint

feat: 폰트 적용 및 디자인 토큰 생성
  index.html
  src/main.tsx
  src/styles/global.css
Due: prettier --write, eslint

fix: css 형식 수정 및 불필요한 폰트 리소스 제거
  index.html
  src/styles/global.css
Due: prettier --write

feat: 폰트 적용 및 디자인 토큰 생성 (#3)
  index.html
  src/main.tsx
  src/styles/global.css
Due: prettier --write, eslint

chore: 빠진 디펜던시 및 설정 추가
  .prettierrc.json
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write

chore: cva, @types/node 설치 및 불필요한 디펜던시 제거
  package-lock.json
  package.json
Due: prettier --write

chore: ESLint 설정 및 tsconfig, 허스키 린트 설정 변경
  .lintstagedrc.json
  eslint.config.js
  tsconfig.node.json
Due: prettier --write

chore: 디펜던시 추가 삭제 및 설정 변경 (#7)
  .lintstagedrc.json
  .prettierrc.json
  eslint.config.js
  package-lock.json
  package.json
  tsconfig.node.json
  vite.config.ts
Due: prettier --write

feat: 디자인 시스템 Avatar 컴포넌트 사이즈 별 스타일링
  src/components/Avatar/index.tsx
  src/components/Avatar/type.ts
Due: prettier --write, eslint

fix: eslint-order 수정 사항 반영
  src/components/Input/index.tsx
Due: prettier --write, eslint

feat: 디자인 시스템용 재사용 가능한 버튼 컴포넌트 추가
  src/components/Input/index.tsx
  src/components/Input/type.ts
Due: prettier --write, eslint

docs: Input 컴포넌트 JSDoc 추가
  src/components/Input/index.tsx
Due: prettier --write, eslint

feat: props type email 추가
  src/components/Input/type.ts
Due: prettier --write, eslint

fix: copilot 수정 사항 반영(ComponentWithoutProps, group-focus-within)
  src/components/Input/index.tsx
  src/components/Input/type.ts
Due: prettier --write, eslint

fix: hover style 제거, focus, filled style design system 반영
  src/components/Input/index.tsx
Due: prettier --write, eslint

feat: eslint-order 반영, editVariants border 추가
  src/components/Avatar/index.tsx
Due: prettier --write, eslint

fix: value 미반영 문제 수정
  src/components/Input/index.tsx
Due: prettier --write, eslint

feat: EmptyState 재사용 컴포넌트 기능 개발
  src/features/Empty/index.tsx
  src/features/Empty/type.ts
Due: prettier --write, eslint

feat: disabed style 추가, password 토글 기능 추가 + eslint-order 수정
  src/components/Input/index.tsx
Due: prettier --write, eslint

fix: icon style 제거
  src/components/Input/index.tsx
  src/components/Input/type.ts
Due: prettier --write, eslint

fix: disabled icon color 적용
  src/components/Input/index.tsx
Due: prettier --write, eslint

refactor: Empty 컴포넌트 위치 변경 및 코드 구조 개선, JSDoc 변경
  src/components/Empty/index.tsx
  src/components/Empty/type.ts
  src/features/Empty/index.tsx
Due: prettier --write, eslint

fix: props 컨벤션 적용
  src/components/Avatar/index.tsx
  src/components/Avatar/type.ts
Due: prettier --write, eslint

feat: 이미지 변경 기능 추가
  src/components/Avatar/index.tsx
Due: prettier --write, eslint

fix: type 내부 정의 및 action type 재정의
  src/components/Empty/index.tsx
  src/components/Empty/type.ts
Due: prettier --write, eslint

fix: css 불필요한 중복 선언 삭제
  src/components/Empty/index.tsx
Due: prettier --write, eslint

feat: EmptyState 재사용 컴포넌트 기능 개발 (#10)
  src/components/Empty/index.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: src/**/*.{ts,tsx}) or (any of: *.{json,md,css})
  eslint: any of: src/**/*.{ts,tsx}
